@charset "ISO-8859-1";
P { text-align: left;}
body{
	color: #006400;
}
/* Dropdown Button */
.dropbtn {
	background: white;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    border: absolute;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E6DEDE;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}    
table {
    border-collapse: collapse;
    margin-right: 0px;
    margin-left: auto;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table th {
    color: white;
    background-color: black;
}
table{
    margin-top:0px
}